.navcontainer{
  display: flex;
  flex: 1;

  flex-direction: row;
  margin: auto;
  margin-top: 2%;
  background-color: rgb(97, 64, 128);
  align-items: flex-start;
}

.navitems{
  display: flex;
  flex-direction: row;
  padding: 20px;
  flex: 1;
  justify-content: flex-start;
  justify-self: center;
}

.nav_item{
  margin-left:15px;
  font-size: 20px;
  color: azure;
  align-self: center;
}

.input_panel {
  display: flex;
  flex-direction: row;
  padding: 20px;
  flex: 1;
  justify-content: flex-end;
  justify-self: center;
}

.input_field{
  height:40px;
  width:200px; 
  font-size: medium;
  margin:.5cm;
}


.action_button{
  cursor: pointer;
  font-size: large;
  color: rgb(97, 64, 128);
  border-radius: 10px;
  height:40px;
  padding-left:.5cm;
  padding-right: .5cm;
  margin: .5cm;
}

.submit:hover {
  background-color: wheat;
}

.small_header{
  font: 30px sans-serif;
  color:azure;
  margin: .5cm;
}

.username{
  font: 30px sans-serif;
  color:azure;
  margin: .5cm;
  justify-content: 'flex-end';
  align-self:flex-end;
}

.login_panel {
  display: flex;
  flex-direction: column;
  margin:auto;
  margin: 0 auto;
  width: 50%; 
  padding: 20px;
  flex: 1;
  justify-content:center;
  align-items: center;
  vertical-align: middle;
  
}
