.navcontainer{
  display: flex;
  flex: 1;

  flex-direction: row;
  margin: auto;
  margin-top: 2%;
  background-color: rgb(97, 64, 128);
  align-items: flex-start;
}

.navitems{
  display: flex;
  flex-direction: row;
  padding: 20px;
  flex: 1;
  justify-content: flex-start;
  justify-self: center;
}

.nav_item{
  margin-left:15px;
  font-size: 20px;
  color: azure;
  align-self: center;
}

.username{
  font: 30px sans-serif;
  color:azure;
  margin: .5cm;
  justify-content: 'flex-end';
  align-self:flex-end;
}
